<ng-template #recursiveList let-list>
    <li class="list-group-item" *ngFor="let item of list">
      <span><button ngbDropdownItem (click)="navigate(item.name)">{{item.name}}</button></span>
      <ul class="list-group" *ngIf="item!.subCategories!.length">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.subCategories }"></ng-container>
      </ul>
    </li>
</ng-template>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of getCategories()">
        <span><button ngbDropdownItem style="font-weight: 500;" (click)="navigate(item.name)">{{item.name}}</button></span>
        <ul class="list-group" *ngIf="item!.subCategories!.length">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.subCategories }"></ng-container>
        </ul>
    </li>
</ul> 


<!-- https://material.angular.io/components/tree/overview -->
